<div class="wrapper">
    <canvas #canvas width="600px" height="600px" class="spiro-canvas"></canvas>
    <div class="settings">
        <ul>
            <li *ngFor="let spiro of spiros; let index = index;" (click)="selectedCircle=index">
                <div class="colorico" [ngStyle]="{'--color_hue':spiro.color_hue, '--color_light': spiro.color_light + '%', '--color_sat': spiro.color_sat + '%'}"></div> Circle
            </li>
        </ul>
        <button (click)="addSpiro()">Add spirograph</button>
        <button (click)="actionClicked()" *ngIf="!isDrawing" [disabled]="spiros.length == 0">{{state}}</button>
        <div *ngIf="selectedCircle >= 0" class="form">
            <div class="form-row">
                <label for="hue_slider">Hue</label>
                <ngx-slider id="hue_slider" [(value)]="spiros[selectedCircle].color_hue" [options]="sliderOptions(0, 360)"></ngx-slider>
            </div>
            <div class="form-row">
                <label for="hue_slider">Saturation</label>
                <ngx-slider id="hue_slider" [(value)]="spiros[selectedCircle].color_sat" [options]="sliderOptions(0, 100)"></ngx-slider>
            </div>
            <div class="form-row">
                <label for="hue_slider">Outer spiro size (%)</label>
                <ngx-slider id="hue_slider" [(value)]="spiros[selectedCircle].outerSize" [options]="sliderOptions(0, 100)"></ngx-slider>
            </div>
            <div class="form-row">
                <label for="hue_slider">Inner width size (%)</label>
                <ngx-slider id="hue_slider" [(value)]="spiros[selectedCircle].innerWidthSize" [options]="sliderOptions(0, 100)"></ngx-slider>
            </div>
            <div class="form-row">
                <label for="hue_slider">inner height size (%)</label>
                <ngx-slider id="hue_slider" [(value)]="spiros[selectedCircle].innerHeightSize" [options]="sliderOptions(0, 100)"></ngx-slider>
            </div>
            <div class="form-row">
                <label for="hue_slider">Inner X Delta (%)</label>
                <ngx-slider id="hue_slider" [(value)]="spiros[selectedCircle].innerXDelta" [options]="sliderOptions(0, 100)"></ngx-slider>
            </div>
            <div class="form-row">
                <label for="hue_slider">Inner Angle Delta (%)</label>
                <ngx-slider id="hue_slider" [(value)]="spiros[selectedCircle].innerAngleDelta" [options]="sliderOptions(0, 100)"></ngx-slider>
            </div>
            <div class="form-row">
                <label for="hue_slider">Initial inner rotation</label>
                <ngx-slider id="hue_slider" [(value)]="spiros[selectedCircle].innerRotation" [options]="sliderOptions(0, 360)"></ngx-slider>
            </div>
            <div class="form-row">
                <label for="hue_slider">Initial outer rotation</label>
                <ngx-slider id="hue_slider" [(value)]="spiros[selectedCircle].outerRotation" [options]="sliderOptions(0, 360)"></ngx-slider>
            </div>
        </div>
    </div>
</div>