.wrapper {
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

.spiro-canvas {
    width: 600px;
    aspect-ratio: 1;
    border: solid 1px black;
    position: absolute;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95%;
    margin-left: 600px;
    justify-content: space-between;
}

.spiro-actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.spiro-view-wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.spiro-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.spiro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.spiro-title {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 20px;
}

.spiro-settings {
    display: grid;
    grid-template-columns: 20% 75%;
    margin-left: 5%;
    width: 100%;
}

.colorico {
    background: hsl(var(--color_hue), var(--color_sat), var(--color_light));
    width: 20px;
    aspect-ratio: 1;
    margin-right: 5px;
    margin-left: 10px;
    border-radius: 50%;
}

ngx-slider {
    width: 100%;
}

.pen-settings {
    display: grid;
    grid-template-columns: 20% 75%;
    row-gap: 10px;
    margin-left: 5%;
    width: 100%;
}

.pen-actions {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.speed {
    width: 100%;
    display: flex;
    padding-bottom: 10px;
}

:host ::ng-deep color-picker {
    display: contents;
}