.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colorico {
    background: hsl(var(--color_hue), var(--color_sat), var(--color_light));
    width: 10px;
    height: 10px;
    margin-left: 10px;
}

li {
    display: flex;
    align-items: center;
}

ngx-slider {
    width: 20vw;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.canvas-inner {
    width: 100%;
    height: 100%;
    border: solid 1px black;
}

.canvas-outer {
    width: calc(min(98vh, 98vw));
    aspect-ratio: 1;
    background: hsl(340, 0%, 80%);
    border: solid 1px black;
}

.spiro-canvas {
    width: 600px;
    aspect-ratio: 1;
    border: solid 1px black;
}